<!doctype html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Carbon - Admin Template</title>
    <link rel="stylesheet" href="{% static "./vendor/simple-line-icons/css/simple-line-icons.css" %}">
    <link rel="stylesheet" href="{% static "./vendor/font-awesome/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "./css/styles.css" %}">
    <link rel="stylesheet" href="{% static "./css/test.css" %}">



</head>
<body class="sidebar-fixed header-fixed">
<!--加载核心库，其他类型支持库在下面根据用户点击选择加载-->
<script src="{% static "./js/recorder-core.js"%}"></script>

<!--加载可选扩展库-->
<script src="{% static "./js/waveview.js" %}"></script>
<script src="{% static "./js/mp3.js" %}"></script>
<script src="{% static "./js/mp3-engine.js" %}"></script>
<script src="{% static "./js/wav.js" %}"></script>
<script src="{% static "./js/submit_post.js" %}"></script>
<script>
    function RandomKey(){
	return "randomkey"+(RandomKey.idx++);
    };
RandomKey.idx=0;
</script>
<style type="text/css">
    span{
        color:mediumvioletred;
    }
</style>
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="{% static "./imgs/logo.png" %}" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>



        <ul class="navbar-nav ml-auto">

            {% if user.is_authenticated %}


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static "./imgs/avatar-1.png" %}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{ user.username }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="/login/" class="dropdown-item">
                        <i class="fa fa-user"></i> Profile
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Messages
                    </a>

                    <div class="dropdown-header">Settings</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> Notifications
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a href="/logout/" class="dropdown-item">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>

            {% else %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static "./imgs/avatar-1.png" %}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">Welcome</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Account</div>

                    <a href="/register/" class="dropdown-item">
                        <i class="fa fa-user"></i> registered
                    </a>

                    <a href="/login/" class="dropdown-item">
                        <i class="fa fa-envelope"></i> login
                    </a>

                </div>
            </li>

            {% endif %}
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Navigation</li>

                    <li class="nav-item">
                        <a href="/index/" class="nav-link">
                            <i class="icon icon-speedometer"></i> 主页
                        </a>
                    </li>



                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> 电子病历辅助诊断 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/a_recognition/" class="nav-link">
                                    <i class="icon icon-target"></i> 实体识别
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/a_extraction/" class="nav-link">
                                    <i class="icon icon-target"></i> 关系抽取
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/a_diagnosis/" class="nav-link">
                                    <i class="icon icon-target"></i> 辅助诊断
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'a_report_input' %}" class="nav-link">
                            <i class="icon icon-grid"></i> 病历录入
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'check_report' %}" class="nav-link">
                            <i class="icon icon-grid"></i> 查看病历
                        </a>
                    </li>






                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="font-size-20">电子病历辅助诊断系统</div>
            <div class="container-fluid">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-light font-label">
                                新增病人信息
                            </div>

                            <div class="card-body">
                                <div class = "col-md-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">姓名</span>
                                        </div>
                                        <input id="p_name" name="p_name" type="text" class="to_report form-control" placeholder="请输入姓名">
                                    </div>
                                </div>
                                <div class = "col-md-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">年龄</span>
                                        </div>
                                        <input id="p_age" name="p_age" type="text" class="to_report form-control" placeholder="请输入年龄" oninput="value=value.replace(/[^\d]/g,'')">
                                        <div class="input-group-append">
                                            <span class="input-group-text">岁</span>
                                        </div>
                                    </div>
                                </div>
                                <div class = "col-md-4">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">性别</span>
                                        </div>
                                        <select id="p_sex" name="p_sex" class="form-control to_report">
                                            <option>男</option>
                                            <option>女</option>
                                        </select>
                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="" type="button" class="btn btn-rounded btn-primary btn-lg" onclick="create_patient()">录入信息</button>
                                <small id="p_save_noticing" style="color: #00BB11;display: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录入中</small>
                                <small id="p_save_notice" style="color: #00BB11;display: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录入成功</small>
                                <small id="p_save_notice_error" style="color: red;display: none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请填充完整信息</small>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<script src="{% static "./vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "./vendor/popper.js/popper.min.js" %}"></script>
<script src="{% static "./vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "./vendor/chart.js/chart.min.js" %}"></script>
<script src="{% static "./js/carbon.js" %}"></script>
<script src="{% static "./js/demo.js" %}"></script>
</body>
</html>
