<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static "./css/test.css" %}">
    <link rel="stylesheet" href="{% static "./css/styles.css" %}">
</head>
<body>
<div align="center" class="font-size-20">xx医院病历</div>
<hr>
<!病人信息>
<div class="row font-label">
    <div class="col-3">姓名：{{ p_name }}</div>
    <div class="col-3">性别：{{ p_sex }}</div>
    <div class="col-3">年龄：{{ p_age }}</div>
    <div class="col-3">ID:{{ p_id }}</div>
</div>
<hr>
<!检查信息>
<hr>
<!诊断信息>
<div class="font-label">超声描述</div>

<hr>
<!底部信息>
<div class="row" >
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-3" style="float:right">检查时间：</div>
    <div class="col-3" style="float:right">主治医师：</div>



</div>
<hr>
</body>
</html>

